MINIO_ROOT_USER=<ACCESS_KEY_ID>
MINIO_ROOT_PASSWORD=<SECRET_ACCESS_KEY>
AWS_ACCESS_KEY_ID=# the same as MINIO_ROOT_USER
AWS_SECRET_ACCESS_KEY=# the same as MINIO_ROOT_PASSWORD
MLFLOW_S3_ENDPOINT_URL=http://minio:9000
MLFLOW_S3_IGNORE_TLS=true
MINIO_HOST=minio
MLFLOW_TRACKING_URI=http://tracking:5000
WORKER_CONTAINERS_NETWORK=private
JOB_PATH=/app
ARTIFACTS_BUCKET=artifacts